%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Sample Configuration File.
%%
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
[
 {rabbit,
  [
   %%
   %% Default User / VHost
   %% ====================
   %%

   %% On first start RabbitMQ will create a vhost and a user. These
   %% config items control what gets created. See
   %% http://www.rabbitmq.com/access-control.html for further
   %% information about vhosts and access control.
   %%
    {default_vhost, <<"/">>},
    {default_user, <<"bachelorthesis">>},
    {default_pass, <<"bachelorthesis">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
    {default_user_tags, [administrator]}
  ]
 }
].